
@{
    ViewBag.Title = "AboutUs";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home/index">Home</a></li>

            <li><a href="/home/aboutus">AboutUs</a></li>
            <li><a href="/home/contact">Contact</a></li>
            <li><a href="/product/index">Products</a></li>
        </ul>
    </div>
</nav>
<h2>AboutUs</h2>
<img src="~/Images/logo.jpg" width="100px" height="100px" class="img-rounded" />
<hr />
<h2>Welcome to My Flower Company</h2>
<hr />


@*<hr />
    <h2><a href="/Home/Index">Home</a> | <a href="/home/aboutus">About Us</a> | <a href="/home/contact">Contact</a></h2>
    <hr />
    <h2>AboutUs</h2>
    <img src="~/Images/logo.jpg" class="img-rounded"  />
    <hr />
    <h2>Welcome to My Flower Company</h2>
    <hr />*@


