
@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home/index">Home</a></li>

            <li><a href="/home/aboutus">AboutUs</a></li>
            <li><a href="/home/contact">Contact</a></li>
            <li><a href="/product/index">Products</a></li>
        </ul>
    </div>
</nav>

<img src="~/Images/logo.jpg" width="100px" height="100px" />
<h2>Welcome to My Flower Company</h2>
<hr />
<p>
    Why is that bird talking edible tree
    I disagree that you agree
    You shouldn't have sold salad to the drug eater.
<p>
    Now you have a slimy debt.
    Why is there a bologna tree up my butt
    I threw the movie up
</p>
<p>
    Why did that child talk about how Geico can save you -27.56% on pencil insurance to himself
</p>




@*<hr />
    <h2><a class=".btn" href="/Home/Index">Home</a> | <a href="/home/aboutus">About Us</a> | <a href="/home/contact">Contact</a></h2>
    <hr />
    <img src="~/Images/logo.jpg" class="img-rounded" />
    <hr />
    <h2>Welcome to My Flower Company</h2>
    <hr />
    <p>
        Why is that bird talking edible tree
        I disagree that you agree
        You shouldn't have sold salad to the drug eater.
    <p>
        Now you have a slimy debt.
        Why is there a bologna tree up my butt
        I threw the movie up
    </p>
    <p>
        Why did that child talk about how Geico can save you -27.56% on pencil insurance to himself
    </p>*@

